In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

In [2]:
traindf = pd.read_csv('/content/Admission_Predict.csv')

In [3]:
traindf.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [4]:
traindf.drop(columns=['Serial No.'], inplace=True)

In [5]:
traindf.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65

In [26]:
y = traindf.iloc[:, -1]

In [27]:
X = traindf.iloc[:, :-1]

In [28]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=24)

In [34]:
X_train.shape

(320, 7)

In [35]:
X_test.shape

(80, 7)

In [29]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

In [31]:
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [38]:
X_train_scaled

array([[0.52      , 0.64285714, 0.5       , ..., 0.875     , 0.63461538,
        1.        ],
       [0.58      , 0.5       , 0.5       , ..., 0.5       , 0.38461538,
        1.        ],
       [0.7       , 0.67857143, 0.5       , ..., 0.625     , 0.60897436,
        0.        ],
       ...,
       [0.3       , 0.39285714, 0.25      , ..., 0.625     , 0.42628205,
        0.        ],
       [0.64      , 0.78571429, 1.        , ..., 0.75      , 0.68589744,
        1.        ],
       [0.34      , 0.46428571, 0.25      , ..., 0.625     , 0.41666667,
        0.        ]])

In [40]:
X_test_scaled

array([[0.4       , 0.5       , 0.75      , 0.875     , 0.875     ,
        0.71794872, 1.        ],
       [0.54      , 0.53571429, 0.5       , 0.625     , 0.5       ,
        0.6025641 , 1.        ],
       [0.6       , 0.42857143, 0.5       , 0.625     , 0.875     ,
        0.49358974, 1.        ],
       [1.        , 1.        , 0.75      , 1.        , 1.        ,
        0.86538462, 1.        ],
       [0.3       , 0.46428571, 0.25      , 0.5       , 0.75      ,
        0.42628205, 0.        ],
       [0.22      , 0.42857143, 0.25      , 0.625     , 0.625     ,
        0.34935897, 1.        ],
       [0.74      , 0.71428571, 0.5       , 0.5       , 0.5       ,
        0.61538462, 1.        ],
       [0.34      , 0.35714286, 0.5       , 0.5       , 0.5       ,
        0.47115385, 0.        ],
       [0.68      , 0.71428571, 0.75      , 0.75      , 0.625     ,
        0.63141026, 1.        ],
       [0.62      , 0.64285714, 0.5       , 0.625     , 1.        ,
        0.65705128, 1.        ],
       [0.5       , 0.25      , 0.25      , 0.625     , 0.5       ,
        0.34935897, 0.        ],
       [0.56      , 0.60714286, 0.5       , 0.5       , 0.5       ,
        0.54487179, 0.        ],
       [0.44      , 0.39285714, 0.5       , 1.        , 0.75      ,
        0.52884615, 0.        ],
       [0.74      , 0.39285714, 0.5       , 0.75      , 0.75      ,
        0.48076923, 1.        ],
       [0.76      , 0.85714286, 1.        , 1.        , 1.        ,
        0.86538462, 1.        ],
       [0.62      , 0.60714286, 0.5       , 0.5       , 0.75      ,
        0.44871795, 1.        ],
       [0.62      , 0.53571429, 0.25      , 0.25      , 0.125     ,
        0.52564103, 0.        ],
       [0.52      , 0.32142857, 0.25      , 0.375     , 0.25      ,
        0.48717949, 1.        ],
       [0.82      , 0.82142857, 1.        , 0.875     , 0.625     ,
        0.82051282, 1.        ],
       [0.2       , 0.28571429, 0.5       , 0.25      , 0.5       ,
        0.59615385, 1.        ],
       [0.64      , 0.53571429, 0.5       , 0.625     , 0.625     ,
        0.53205128, 1.        ],
       [0.34      , 0.32142857, 0.5       , 0.75      , 0.5       ,
        0.44871795, 0.        ],
       [0.2       , 0.46428571, 0.        , 0.        , 0.25      ,
        0.32051282, 0.        ],
       [0.18      , 0.28571429, 0.        , 0.125     , 0.25      ,
        0.34935897, 0.        ],
       [0.26      , 0.35714286, 0.5       , 0.625     , 0.5       ,
        0.54487179, 0.        ],
       [0.72      , 0.75      , 1.        , 0.875     , 0.75      ,
        0.83333333, 1.        ],
       [0.48      , 0.57142857, 0.5       , 0.875     , 0.625     ,
        0.42948718, 0.        ],
       [0.        , 0.28571429, 0.        , 0.125     , 0.25      ,
        0.24358974, 0.        ],
       [0.44      , 0.42857143, 0.5       , 0.625     , 0.625     ,
        0.51923077, 0.        ],
       [0.4       , 0.25      , 0.25      , 0.125     , 0.25      ,
        0.16025641, 0.        ],
       [0.88      , 0.78571429, 0.75      , 0.75      , 0.75      ,
        0.84294872, 1.        ],
       [1.        , 1.        , 1.        , 0.875     , 0.875     ,
        0.8974359 , 1.        ],
       [0.94      , 0.92857143, 0.75      , 0.875     , 0.875     ,
        0.91346154, 1.        ],
       [0.1       , 0.25      , 0.25      , 0.375     , 0.5       ,
        0.2724359 , 0.        ],
       [0.52      , 0.5       , 0.25      , 0.375     , 0.75      ,
        0.48717949, 0.        ],
       [0.54      , 0.28571429, 0.25      , 0.5       , 0.375     ,
        0.56730769, 0.        ],
       [0.68      , 0.67857143, 0.5       , 0.375     , 0.25      ,
        0.64102564, 1.        ],
       [0.64      , 0.64285714, 1.        , 0.875     , 0.75      ,
        0.69551282, 0.        ],
       [0.44      , 0.53571429, 0.5       , 0.5       , 0.5       ,
        0.53205128, 1.        ],
       [0.64      , 0.64285714, 0.5       , 0.75      , 1.        ,
        0.58974359, 1.        ],
       [0.44      , 0.60714286, 0.5       , 0.5       , 0.5       ,
        0.60576923, 0.        ],
       [0.62      , 0.60714286, 0.5       , 0.625     , 0.625     ,
        0.64102564, 1.        ],
       [0.9       , 0.92857143, 1.        , 0.875     , 0.625     ,
        0.84615385, 1.        ],
       [0.54      , 0.5       , 0.5       , 0.75      , 0.625     ,
        0.54487179, 1.        ],
       [0.72      , 0.67857143, 1.        , 0.875     , 0.75      ,
        0.77884615, 1.        ],
       [0.68      , 0.53571429, 1.        , 0.625     , 0.75      ,
        0.59615385, 1.        ],
       [0.46      , 0.5       , 0.25      , 0.375     , 0.25      ,
        0.5224359 , 0.        ],
       [0.7       , 0.53571429, 0.5       , 0.5       , 0.625     ,
        0.74038462, 1.        ],
       [0.56      , 0.28571429, 0.25      , 0.375     , 0.625     ,
        0.55769231, 1.        ],
       [0.44      , 0.53571429, 0.75      , 0.875     , 0.75      ,
        0.59294872, 1.        ],
       [0.5       , 0.42857143, 0.5       , 0.5       , 0.375     ,
        0.49038462, 0.        ],
       [0.56      , 0.53571429, 0.5       , 0.5       , 0.625     ,
        0.47115385, 1.        ],
       [0.42      , 0.42857143, 0.25      , 0.375     , 0.625     ,
        0.53846154, 0.        ],
       [0.58      , 0.64285714, 0.5       , 0.625     , 0.625     ,
        0.71794872, 0.        ],
       [0.46      , 0.39285714, 0.5       , 0.75      , 0.75      ,
        0.625     , 0.        ],
       [0.22      , 0.28571429, 0.5       , 0.625     , 0.5       ,
        0.3974359 , 0.        ],
       [0.4       , 0.53571429, 0.5       , 0.625     , 0.625     ,
        0.59935897, 0.        ],
       [0.74      , 0.75      , 0.75      , 0.875     , 0.875     ,
        0.74038462, 1.        ],
       [0.42      , 0.46428571, 0.5       , 0.625     , 0.5       ,
        0.52884615, 1.        ],
       [0.48      , 0.64285714, 0.5       , 0.75      , 0.75      ,
        0.64102564, 0.        ],
       [0.58      , 0.71428571, 0.5       , 0.375     , 0.25      ,
        0.61217949, 1.        ],
       [0.78      , 0.78571429, 1.        , 0.75      , 1.        ,
        0.80128205, 1.        ],
       [0.1       , 0.32142857, 0.25      , 0.375     , 0.25      ,
        0.33974359, 0.        ],
       [0.62      , 0.71428571, 1.        , 1.        , 1.        ,
        0.72435897, 1.        ],
       [0.5       , 0.46428571, 0.25      , 0.25      , 0.375     ,
        0.2724359 , 0.        ],
       [0.72      , 0.57142857, 0.5       , 0.5       , 0.625     ,
        0.66987179, 0.        ],
       [0.68      , 0.78571429, 1.        , 1.        , 0.875     ,
        0.73076923, 1.        ],
       [0.62      , 0.67857143, 1.        , 1.        , 1.        ,
        0.84935897, 1.        ],
       [0.12      , 0.25      , 0.25      , 0.5       , 0.625     ,
        0.15384615, 0.        ],
       [0.54      , 0.53571429, 0.5       , 0.75      , 0.5       ,
        0.60897436, 0.        ],
       [0.84      , 0.92857143, 1.        , 1.        , 1.        ,
        0.91025641, 1.        ],
       [0.48      , 0.46428571, 0.5       , 0.625     , 0.375     ,
        0.48076923, 0.        ],
       [0.62      , 0.60714286, 0.75      , 0.75      , 0.75      ,
        0.6025641 , 1.        ],
       [0.72      , 0.71428571, 0.5       , 0.625     , 0.5       ,
        0.72115385, 1.        ],
       [0.22      , 0.25      , 0.25      , 0.5       , 0.25      ,
        0.45512821, 0.        ],
       [0.46      , 0.42857143, 0.5       , 0.75      , 0.875     ,
        0.59294872, 0.        ],
       [0.3       , 0.71428571, 0.5       , 0.5       , 0.625     ,
        0.59294872, 0.        ],
       [0.6       , 0.64285714, 1.        , 1.        , 0.875     ,
        0.77564103, 1.        ],
       [0.68      , 0.28571429, 0.5       , 0.75      , 1.        ,
        0.58974359, 1.        ],
       [0.48      , 0.53571429, 0.5       , 0.5       , 0.625     ,
        0.43910256, 1.        ]])